[user]
	name = Tim Gifford
[color]
	branch = auto
	status = auto
[core]
	filemode = false
	tool = diffmerge
[merge]
	tool = diffmerge
[mergetool "diffmerge"]
	cmd = diffmerge -merge -nosplash -result=$MERGED -t1='mine' -t2='ancestor' -t3='theirs' $LOCAL $BASE $REMOTE
	trustexitcode=true
[diff]
	tool = diffmerge
[difftool "diffmerge"]
	cmd = diffmerge -nosplash -t1='mine' -t2='theirs' $LOCAL $REMOTE
[alias]
	co = checkout
	st = status
	br = branch
